/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --clr-light-blue: #9ed0f1;
  --clr-primary: #e0346a;
  --clr-secondary: #f3f3f3;
  --clr-brown: #443838;
  --crl-light-ping: #f6ecea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: var(--crl-light-ping);
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: 100vh;
  justify-content: center;
}

.body {
  color: black;
  width: 100%;
  height: fit-content;
  max-height: 90vh;
  /* height: fit-content; */
  display: flex;
  flex-direction: column;
  flex: 1;
  /* padding-bottom: 2rem; */
}

.tab-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--clr-secondary);
  border-radius: 5px;
}

.tab {
  flex: 1;
  color: rgb(85, 80, 80);
  cursor: pointer;
  text-align: center;
  font-size: 1.1rem;
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  /* border-top: 3px solid transparent; */
  border-bottom: 3px solid var(--clr-primary);
  border-radius: 5px 5px 0 0;
  transition: border 100ms linear;
}

.tab:hover {
  background-color: var(--crl-light-ping);
}

.tab-active {
  color: var(--clr-primary);
  background-color: white;
  border: 3px solid var(--clr-primary);
  border-bottom: none;
  cursor: default;
}

.tab-active:hover {
  background-color: white;
}

.tab-body {
  width: 100%;
  height: 100%;
  display: none;
  padding: 1rem 0;
  overflow: auto;
  background-color: #ffffff;
  border: 3px solid var(--clr-primary);
  border-bottom: none;
  border-top: none;
  position: relative;
}

.tab-body-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0px 0.5px 2px 1px rgba(16, 11, 92, 0.277);
  border-radius: 5px;
}

.item .title {
  font-size: 1rem;
  margin: 1rem 0;
}

.item .input-container {
  position: relative;
  width: fit-content;
  overflow: hidden;
  border-radius: 3px;
  display: inline-block;
}

.item .input-container .input {
  border: none;
  font-size: 1rem;
  padding: 5px 10px;
  background-color: var(--clr-secondary);
  border: 1px solid black;
  border-radius: 4px 0 0 4px;
}

.item .input-container .unit {
  position: absolute;
  right: 0px;
  height: 100%;
  width: fit-content;
  background-color: #90bfdf;
  padding: 5px;
  font-size: 0.9rem;
  border: 1px solid black;
  border-radius: 2px;
  border-left: none;
}

.item .flat-types {
  margin: 1rem 0;
  /* max-height: 20vh; */
  /* overflow: auto; */
}

.item .flat-types .flat-type {
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
}

.item .flat-types .flat-type-title {
  font-size: 0.9rem;
  padding: 5px 0;
}

.item .new-btn {
  border: 1px solid var(--clr-primary-darker);
  padding: 5px;
  border-radius: 5px;
  color: var(--clr-brown);
  background-color: var(--clr-light-blue);
  font-weight: 500;
  cursor: pointer;
  margin: 0rem 0rem;
}

.item .new-btn:hover {
  background-color: #90bfdf;
}

.item .total {
  display: block;
  margin: 1rem;
  background-color: var(--crl-light-ping);
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(146, 142, 142, 0.767);
  float: right;
}

.item .total .value {
  background-color: var(--clr-primary-darker);
  padding: 5px 10px;
  border-radius: 3px;
}
.tab-body .tab-total {
  padding: 1rem;
  font-size: 1rem;
  background-color: var(--clr-light-blue);
  border-radius: 5px;
  height: fit-content;
  position: sticky;
  bottom: -1rem;
}

.tab-body .tab-total span {
  font-weight: 600;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.total-container {
  padding: 1rem;
  border: 2px solid var(--clr-primary-darker);
  color: white;
  background-color: var(--clr-primary);
  width: 100%;
}

.total-container .value {
  margin: 0 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.tab-body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.tab-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.tab-body::-webkit-scrollbar-thumb {
  background: var(--clr-light-blue);
}

/* Handle on hover */
.tab-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
